body {
    max-width: 600px;
    margin: 50px auto;
    display: flex;
}

.output-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-field {
    width: 100px;
    height: 50px;
    flex: 1;
    justify-content: center;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

                        /*LEFT INPUT */

.left-input {
    flex-direction: column;
    flex: 1;
    max-width: 200px;
}

.number, #clear, .operator, #equals {
    width: 50px;
    height: 50px;
    flex: 1;
}

.number {
    margin-top: 5px;
    background-color: aqua;

}

#clear {
    width: 160px;
    background-color: yellowgreen;
    margin-top: 3rem;
}

#zero {
    width: 160px;
    background-color: aquamarine;
}

                        /*RIGHT INPUT */

.right-input {
    flex-direction: column;
    flex: 1;
    max-width: 100px;
}

#add {
    margin-top: 3rem;
    flex: 1;
}

.operator {
    margin-top: 5px;
    flex: 1;
    background-color:chocolate;
}

#equals {
    margin-top: 5px;
    background-color: blueviolet;
    flex: 1;
}
